* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url('Background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }

  .logo img {
    max-width: 100px; 
    height: 100px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 20px;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: white; 
    font-weight: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .Account-buttons {
    display: flex;
    gap: 10px;
  }

  .signup-button {
    background-color: #3d9970; 
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signin-button {
    background-color: #333; 
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  .main {
    padding: 20px;
    margin-top: 80px;
  }
  
  .grid-container {
    display: flex;
    gap: 50px; 
    margin-left: 400px;
  }
  
  .image-box {
    width: 500px;
    padding: 100px; 
    background-color:  #333;
    border-style: solid;
    border-color: #3d9970;
    text-align: center;
    color: white;
    font-size:xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .image-box img {
    max-width: 100%;
    height: 300px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-weight: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  

  @media (max-width: 768px) {
    .header {
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      gap: 10px;
      justify-items: center;
    }
  
    .nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .auth-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .main {
      grid-template-columns: 1fr;
    }
  }
