
.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.logo img {
  max-width: 100px; 
  height: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('Background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.form-box {
  background:  #333;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  width: 300px;
  border-style: solid;
  border-color: #3d9970;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

a {
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}

button {
  background-color:  #3d9970;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color:  #3d9970;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  font-weight: bold; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 600px) {
  .form-box {
      width: 80%;
  }
}